<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="middle">商品列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="pick_box">
    <div class="pick_item pick1">
      <div class="pick1_text">
        <span>价格</span>
      </div>
      <img src="{{priceSortIcon}}"  class="pick_icon"/>
    </div>
    <div class="pick_item pick2">
      <div class="pick1_text">
        <span>销量优先</span>
      </div>
      <img src="{{salesSortIcon}}" class="pick_icon" />
    </div>
    <div class="pick_item pick3">
      <div class="pick1_text">
        <span>品牌筛选</span>
      </div>
      <img src="assets/upload/arrow_down.png" class="pick_icon" />
    </div>
  </div>

  <app-goods-list
    [categoryId]="categoryId"
    [sortField]="sortField"
    [sortWay]="sortWay"
  ></app-goods-list>


</ion-content>
