.bottom_box{
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;

  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:center;
  align-items: center;

  font-size: 15px;

  .bottom_one{
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;

    background-color: rgb(248,248,248);
    color: rgb(79,79,79);
  }

  .bottom_two{
    width: 40%;
    height: 50px;
    background-color: rgb(100,171,91);
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
  }
}


.cart_box{
  width: 100%;

  .head_box{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 10px 0;

    .checkbox{
      width: 15%;
      display: flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content:center;
      align-items: center;
    }

    .head_box_content{
      width: 70%;
    }

    .head_box_end{
      width: 15%;
    }
  }

  .divider1{
    height: 1px;
    margin: 5px 0;
    background-color: rgb(233,233,233);
  }

  .body_box{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    border-bottom: 1px solid rgb(233,233,233);

    .checkbox{
      width: 15%;
      padding: 10px 0;
      display: flex;
      flex-direction:column;
      flex-wrap: nowrap;
      justify-content:center;
      align-items: center;
    }

    .body_box_content{
      width: 70%;
      display: flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content:flex-start;
      align-items: center;
      padding: 10px 0;

      .goods_img{
        width: 60px;
        img{
          width: 100%;
          height: auto;
        }
      }

      .goods_info{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:flex-start;
        align-items: flex-start;
        margin-left: 5px;
        .goods_name{
          display: flex;
          flex-direction:column;
          flex-wrap: nowrap;
          justify-content:center;
          align-items: center;

          font-size: 14px;
          color:rgb(79,79,79);
        }

        .goods_price_box{
          margin-top: 10px;
          display: flex;
          flex-direction:row;
          flex-wrap: nowrap;
          justify-content:center;
          align-items: center;

          .goods_price{
            font-size: 15px;
            color:red;
          }

          .goods_old_price{
            margin-left: 15px;
            font-size: 15px;
            color:rgb(79,79,79);
            text-decoration: line-through;
          }
        }

        .goods_add_cart_box{
          margin-top: 10px;
          display: flex;
          flex-direction:row;
          flex-wrap: nowrap;
          justify-content:center;
          align-items: center;

          .minus{
            width: 25px;
            display: flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            img{
              width: 100%;
              height: auto;
            }
          }

          .number{
            margin: 0 30px;
          }

          .plus{
            width: 25px;
            display: flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            img{
              width: 100%;
              height: auto;
            }
          }
        }

      }
    }


    .body_box_end{
      width: 15%;
      display: flex;
      flex-direction:column;
      flex-wrap: nowrap;
      justify-content:center;
      align-items: center;

      .show_num_box{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        font-size: 15px;
        color: rgb(79,79,79);
      }

      .delete_box{
        background-color: rgb(49,189,128);
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        border-radius: 5px;
        margin-right: 15px;
      }
    }

  }


}

.bottom_blank{
  height: 200px;
}