
.cat_list_box{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:flex-start;

  .left{
    width: 30%;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    max-height: 550px;
    overflow: auto;

    ::-webkit-scrollbar{
      width:0;
    }


    .left_item{
      display: flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content:flex-start;
      align-items: flex-start;
      background-color: rgb(33,217,162);


      padding: 15px 3px;
      border: 1px solid rgb(235,235,235);

      .category_img{
        width: 25px;
        height: auto;
      }

      .category_name{
        margin-left: 10px;
        font-size: 14px;
        color: rgb(79,79,79);
      }

    }
  }

  .right{
    width: 65%;
    margin-left: 15px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: left;
    padding: 10px 5px;


    .right_item{
      width: 50%;
      padding: 0px;
      display: flex;
      flex-direction:column;
      flex-wrap: nowrap;
      justify-content:flex-end;
      align-items: center;

      .right_img{
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          height: auto;
        }
      }

      .right_name{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-top: 10px;
        font-size: 14px;
        color: rgb(99,99,99);
      }
    }

  }
}


